body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background: #a4b2bb;
}
.nav{
    display: flex;
    justify-content: space-around;
    background-color: #da1818;
    align-items: center;

}
.nav-head{
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.nav-head-2{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-self: flex-end;
}
.nav-search{
    display: flex;
    flex-direction: column;
    margin: 0;
}
.informationSection{
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgb(77, 93, 102);
    
}
.select-section{
    font-size: 120px;
    
    display: flex;
    justify-content: space-around;
    background: rgb(77, 93, 102);

}
.pokemon, .fotball{
    font-size: 20px;
    border: 1px dotted black;
    background-color: #5b71f1;
    border-radius: 10px;
    padding: 20px 40px;
    margin: 12px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 9px gray;
  
}
.pokemon:hover, .fotball:hover{
    background: #202d77;
}
.pokemon:active, .fotball:active{
    box-shadow: 0 2px gray;
    transform: translateY(5px);
}


.output{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px, auto);
    margin: 5px;
    margin-left: 20px;
    margin-right: 20px;
    grid-gap: 10px;
}
.filterSection{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    height: 60px;
}
.searchPokeName{
    display: inline-flex;
}
.pokeCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(217, 252, 255);
    border: 1px solid black;
}
.p{
    display: inline-flex;   
}
.p1{
    margin: 3px;   
}
.playerCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(217, 252, 255);
    border: 1px solid black;
}
.playerImg{
    width: 250px;
}
