body{
    font-family: "Arial", Helvetica, sans-serif;
    margin: 0;
    background: #a4b2bb;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
}
a{
    text-decoration: none;
    color: black;
}
.active{
    border: 1px solid black;
    border-radius: 10px;    
}
.nav{
    display: flex;
    justify-content: space-around;
    background-color: #39b5d4;
    align-items: center;
}
.nav-head-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.nav-head-quiz{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-self: flex-end;
}
.nav-head-info:hover{
    border: 1px solid black;
    transform: scale(1.03);
    border-radius: 10px;

}
.nav-head-quiz:hover{
    border: 1px solid black;
    transform: scale(1.03);
    border-radius: 10px;
}

.informationSection{
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgb(77, 93, 102);
    
}
.select-section{
    font-size: 120px;
    
    display: flex;
    justify-content: space-around;
    background: rgb(77, 93, 102);

}
.pokemon, .fotball{
    font-size: 20px;
    border: 1px dotted white;
    background-color: #273aa8;
    border-radius: 10px;
    padding: 20px 40px;
    margin: 12px;
    text-align: center;
    color: rgb(236, 222, 222);
    cursor: pointer;
    box-shadow: 0 9px gray;
  
}
.pokemon:hover, .fotball:hover{
    background: #202d77;
}
.pokemon:active, .fotball:active{
    box-shadow: 0 2px gray;
    transform: translateY(5px);
}
.selected-Section{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    text-decoration: underline;

}


.output{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px, auto);
    margin: 5px;
    margin-left: 20px;
    margin-right: 20px;
    grid-gap: 10px;
    min-height: 400px;
}
.filterSection{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    height: 60px;
}
.searchPokeName{
    display: inline-flex;
}

.playCard:hover{
  
    transform: scale(1.03);
}

.playInfo{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 22px;
}


.playCard:hover .playInfo{
    display: block;
    background-color: rgb(224, 224, 83);
    border-radius: 7px;
    border: 1px dotted black;
}
.p{
    display: inline-flex;  
     font-size: 20px ;
}
.p1{
    margin: 3px;   
}
.playCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(217, 252, 255);
    border: 1px solid black;
}
.playImg{
    width: 200px;
}

.quiz-Section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px, auto);   
    
    grid-gap: 5px;
}

.outputQuiz{
    display: grid;
    grid-column: 1/5;
    grid-row: 1;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px, auto);
}
.nextQuestion{ 
    display: flex;
    flex-direction: row;
    grid-column: 4;
    grid-row: 2;
}
.nextQuestion-Button{
    background-color: #d41e1e;
    border-radius: 3px;
    border: 2px dotted black;
    color: white;
    padding: 40px 70px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.nextQuestion-Button:hover{
    cursor: pointer;
    transform: scale(1.03);
    border: 3px solid black;
}
.quiz-Question{
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    grid-column: 1 / 5;
    grid-row: 1;
    border: 20px solid black;
    margin-top: 0;

    
}
.quiz-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    grid-column: 1 / 5;
    grid-row: 2; 
}
.answerButton{
    background-color: #096194;
    border-radius: 3px;
    border: 2px dotted black;
    color: white;
    padding: 40px 70px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.answerButton:hover{
    cursor: pointer;
    border: 1px black solid;
    transform: scale(1.02);
}
.totalScore{
    display: flex;
    justify-content: center;
    grid-column: 1;
    grid-row: 3;
}

.highScore{
    display: flex;
    justify-content: center;
    grid-column: 3;
    grid-row: 3;
}
    


.playerStats{
    display: inline-flex;
    justify-content: space-between;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #012847;
    height: 300px;
    margin-bottom: 0;
    flex-shrink: 0;
    color: white;
    
}
.header-footer{
    font-weight: bold;
    font-size: 24px;
    color: white;
}

@media only screen and (max-width: 970px) {
.output{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(50px, auto);
    margin: 5px;
    margin-left: 20px;
    margin-right: 20px;
    grid-gap: 10px;
    min-height: 400px;
}
.playInfo{
    font-size: 19px;
}
}
@media only screen and (max-width: 426px) {
    .nav{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        background-color: #da1818;
        align-items: center;
        
    }
    .select-section{
        font-size: 120px;
        
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background: rgb(77, 93, 102);
    
    }
    .filterSection{
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        height: 100px;
        size: 22px;
    }
    .header-2{
        font-size: 16px;
    }
    .playInfo{
        font-size: 16px;
    }   
    
    .output{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: minmax(50px, auto);
        margin: 5px;
        margin-left: 20px;
        margin-right: 20px;
        grid-gap: 10px;
        min-height: 400px;
    }

}